<!doctype html>
<html ng-app="sgtApp">
<head>
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" defer></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.js"></script>
    <script src="controller.js"></script>

    <style>
        .clickable{
            cursor: pointer;
        }
        #add-cancel-btn{
            margin-bottom: 15px;
        }
        .error{
            border-color: red;
        }
        .edit-btn{
            /*margin-right: 1rem;*/
        }
    </style>

</head>
<body>
<div class="container" ng-controller="sgtController as sc">
    <div class="panel">
        <!-- only show this element when the isnt on mobile -->
        <h1 class="hidden-xs">Student Grade Table
            <small class="pull-right">Grade Average : <span class="avgGrade label label-default" ng-model="sc.GPA">{{ sc.GPA | number: 2 }}</span></small>
        </h1>
        <!-- only show this element when the user gets to a mobile version -->
        <h3 class="visible-xs">Student Grade Table
            <small class="pull-right">Grade Average : <span class="avgGrade label label-default" ng-model="sc.GPA">{{ sc.GPA | number: 2}}</span></small>
        </h3>
    </div>
    <div class="student-add-form col-md-3 col-md-push-9" ng-form="addStudentForm">
        <h4>Add Student</h4>
        <div class="input-group form-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input ng-model='sc.student.name' type="text" class="form-control" name="studentName" id="studentName" placeholder="Student Name"
                   ng-class="(addStudentForm.studentName.$error.required  && !addStudentForm.studentName.$untouched) ? 'error': '' " required>
        </div>
        <div class="input-group form-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-list-alt"></span>
            </span>
            <input ng-model='sc.student.course' type="text" class="form-control" name="course" id="course" placeholder="Student Course"
                   ng-class="(addStudentForm.course.$error.required  && !addStudentForm.course.$untouched) ? 'error': '' " required>
        </div>
        <div class="input-group form-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-education"></span>
            </span>
            <input ng-model='sc.student.grade' type="number" class="form-control" name="studentGrade" id="studentGrade"
                   max="100" min="0" placeholder="Student Grade"
                   ng-class="(addStudentForm.studentGrade.$error.required  && !addStudentForm.studentGrade.$untouched) ? 'error': '' " required>
        </div>

        <!--Add/Cancel Area-->
        <div id="add-cancel-btn">
            <button type="button" class="btn btn-success" ng-click="sc.addClicked(); addStudentForm.$setUntouched();" ng-disabled="addStudentForm.$invalid">
                Add</button>
            <button type="button" class="btn btn-default" ng-click="sc.cancelClicked()">Cancel</button>
        </div>
        <!--End Add/Cancel Area-->

        <!--Search Bar-->
        <div class="input-group form-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <input ng-model='searchWord' type="text" class="form-control" name="search" id="search" placeholder="Search">
        </div>
        <!--Search Bar End-->
    </div>
    <div class="student-list-container col-md-9 col-md-pull-3">
        <table class="student-list table table-hover">
            <thead>
            <tr>
                <th class="clickable" ng-click="sc.setOrder('name')">
                    Student Name
                    <span class="glyphicon"
                          ng-class="(sc.order==='name') ? 'glyphicon-sort-by-alphabet-alt':'glyphicon-sort-by-alphabet' "></span>
                </th>
                <!--End Student Name Head-->
                <th class="clickable" ng-click="sc.setOrder('course')">
                    Student Course
                    <span class="glyphicon"
                          ng-class="(sc.order==='course') ? 'glyphicon-sort-by-alphabet-alt' :'glyphicon-sort-by-alphabet' "></span>
                </th>
                <!--End Student Course Head-->
                <th class="clickable" ng-click="sc.setOrder('grade')">
                    Student Grade
                    <span class="glyphicon"
                          ng-class="(sc.order==='grade') ? 'glyphicon-sort-by-order-alt':'glyphicon-sort-by-order' "></span>
                </th>
                <!--End Student Grade Head-->
                <!--<th>Operations</th>-->
            </tr>
            <!--End Row-->
            </thead>
            <tbody>
            <tr ng-repeat="student in sc.studentList | orderBy: sc.order | filter: searchWord">
                <td class="col-md-3 col-sm-3">
                    <span ng-hide="editing">{{ student.name }}</span>
                    <span ng-show="editing"><input class="col-xs-10" type="text" ng-model="student.name"></span>
                </td>
                <!--name end-->
                <td class="col-md-3 col-sm-3">
                    <span ng-hide="editing">{{ student.course }}</span>
                    <span ng-show="editing"><input class="col-xs-10" type="text" ng-model="student.course"></span>
                </td>
                <!--course end-->
                <td class="col-md-3 col-sm-3">
                    <span ng-hide="editing" ng-class="sc.qualifyGrade(student.grade)">{{ student.grade }}</span>
                    <span ng-show="editing"><input class="col-xs-10" type="number" ng-model="student.grade"></span>
                </td>
                <!--grade end-->
                <td class="col-md-3">
                    <button ng-click="editing = true; sc.saveDefault(student);" ng-disabled="sc.editEnabled" ng-hide="editing" class="btn btn-primary btn-sm edit-btn" data-toggle="tooltip" title="edit">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button ng-click="editing = false; sc.updateStudent();" ng-show="editing" class="btn btn-success btn-sm" data-toggle="tooltip" title="save">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button ng-click="sc.deleteStudent(student)" class="btn btn-danger btn-sm" data-toggle="tooltip" title="delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

